---
layout: false
---
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	</head>
	<body>
		<div id="disclaimers">
			<div id="zero_gravity">
				<div class="disclaimer-copy">
					<p><%= I18n.t("disclaimers.zero_gravity") %></p>
				</div>
			</div>
			<div id="infiniti_connection">
				<div class="disclaimer-copy scroll">
					<p><%= I18n.t("disclaimers.infiniti_connection") %></p>
				</div>
			</div>
			<div id="intelligent_cruise">
				<div class="disclaimer-copy">
					<p><%= I18n.t("safetyshield.disclaimers.one") %></p>
				</div>
			</div>
			<div id="distance_control">
				<div class="disclaimer-copy">
					<p><%= I18n.t("safetyshield.disclaimers.two") %></p>
				</div>
			</div>
			<div id="around_view">
				<div class="disclaimer-copy">
					<p><%= I18n.t("safetyshield.disclaimers.three") %></p>
				</div>
			</div>
			<div id="lane_departure">
				<div class="disclaimer-copy">
					<%= I18n.t("safetyshield.disclaimers.six") %>
				</div>
			</div>
			<div id="backup_collision">
				<div class="disclaimer-copy">
					<p><%= I18n.t("safetyshield.disclaimers.four") %></p>
				</div>
			</div>
			<div id="blind_spot">
				<div class="disclaimer-copy">
					<p><%= I18n.t("safetyshield.disclaimers.five") %></p>
				</div>
			</div>
			<div id="predictive_collision">
				<div class="disclaimer-copy">
					<p><%= I18n.t("safetyshield.disclaimers.seven") %></p>
				</div>
			</div>
			<div id="forward_braking">
				<div class="disclaimer-copy">
					<p><%= I18n.t("safetyshield.disclaimers.eight") %></p>
				</div>
			</div>
			<div id="air_bags">
				<div class="disclaimer-copy">
					<p><%= I18n.t("safetyshield.disclaimers.nine") %></p>
				</div>
			</div>			
			<div id="infiniti_intouch">
				<div class="disclaimer-copy">
					<p><%= I18n.t("disclaimers.infiniti_intouch") %></p>
				</div>
			</div>
			<div id="bose">
				<div class="disclaimer-copy">
					<p><%= I18n.t("disclaimers.bose") %></p>
				</div>
			</div>
			<div id="steer_by_wire">
				<div class="disclaimer-copy">
					<p><%= I18n.t("performance.content.performance_steer_by_wire.disclaimer") %></p>
				</div>
			</div>
			<div id="performance_engine">
				<div class="disclaimer-copy">
					<p><%= I18n.t("performance.content.performance_engine.disclaimer") %></p>
				</div>
			</div>
			<div id="bci">
				<div class="disclaimer-copy">
					<p><%= I18n.t("disclaimers.bci") %></p>
				</div>
			</div>
			<div id="avm">
				<div class="disclaimer-copy">
					<p><%= I18n.t("disclaimers.avm") %></p>
				</div>
			</div>
		</div>
	</body>
</html>