---
crmpageid: 30942
---

<% @current_nav = 2 %>

<% content_for :pageid do %>page_technology<% end %>

<% content_for :seo do %>
	<title><%= I18n.t("technology.page_title") %></title>
	<meta name="description" content="<%= I18n.t("technology.page_description") %>">
	<link rel="canonical" href="<%= I18n.t("technology.page_canonical") %>" />
<% end %>

<% content_for :pagecss do %>
<% end %>

<% content_for :pagecontent do %>


<script language="JavaScript" type="text/javascript">
var s_account = "tdi-infinitiglobal,<%= I18n.t("booth") %>"
</script>
<script language="JavaScript" type="text/javascript" src="<%= asset_path :js, "s_code.js?v=1.0" %>"></script>
<script language="JavaScript" type="text/javascript"><!--
/* You may give each page an identifying name, server, and channel on
the next lines. */
s.pageName="Microsite_Q50_technology"
s.server=""
s.channel="microsite"
s.pageType=""
s.prop1=""
s.prop2="<%= I18n.t("country") %>"
s.prop3="<%= I18n.t("language") %>"
s.prop4="<%= I18n.t("locale") %>;q=0.5"
s.prop5=""
s.prop7="Q50"
s.prop10="Microsite_Q50_technology"
s.prop15=""
s.prop16="Microsite_Q50_technology"

/* Conversion Variables */
s.campaign=""
s.state=""
s.zip=""
s.events=""
s.products=""
s.purchaseID=""
s.eVar1=""
s.eVar2=""
s.eVar3="Q50"
s.eVar4=""
s.eVar5=""
s.eVar6=""
s.eVar15=""
s.linkTrackVars = ""
s.linkTrackEvents = ""
s.visitorNamespace = "nissanglobal"
s.trackingServer = "<%= I18n.t("metric") %>"


/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<script language="JavaScript" type="text/javascript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><noscript><img src="http://<%= I18n.t("metric") %>/b/ss/tdi-infinitiglobal,<%= I18n.t("booth") %>/1/H.24.3--NS/0?[AQB]&cdp=3&[AQE]"
height="1" width="1" border="0" alt="" /></noscript><!--/DO NOT REMOVE/-->

	<!-- page content -->
	<section id="technology" class="video_feature">
		<div class="background"></div>
		<article id="technology_overview" class="default-copy no-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.technology_overview.heading") %></h2>
					<p><%= I18n.t("technology.content.technology_overview.copy") %></p>
				</div>
			</div>
		</article>

		<article id="disclaimer_digital_env" class="video-disclaimer">
			<p><%= I18n.t("technology.content.digital_environment.video_disclaimer") %></p>
		</article>

		<article id="torque_response" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.digital_environment.torque_response.heading") %></h2>
					<p><%= I18n.t("technology.content.digital_environment.torque_response.copy") %></p>
				</div>
			</div>
		</article>
		<article id="adaptive_steering" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.digital_environment.adaptive_steering.heading") %></h2>
					<p><%= I18n.t("technology.content.digital_environment.adaptive_steering.copy") %></p>
				</div>
			</div>
		</article>
		<article id="driver_position" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.digital_environment.driver_position.heading") %></h2>
					<p><%= I18n.t("technology.content.digital_environment.driver_position.copy") %></p>
				</div>
			</div>
		</article>
		<article id="active_trace_control" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.digital_environment.active_trace_control.heading") %></h2>
					<p><%= I18n.t("technology.content.digital_environment.active_trace_control.copy") %></p>
				</div>
			</div>
		</article>
		<article id="digital_environment" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.digital_environment.heading") %></h2>
					<p><%= I18n.t("technology.content.digital_environment.copy") %></p>
					<p>
						<span class="continue next_chapter"><%= I18n.t("misc.continue") %></span>
						<span class="replay restart_chapter"><%= I18n.t("misc.replay") %></span>
					</p>
				</div>
			</div>
		</article>
		<article id="infiniti_connection" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.infiniti_connection.heading") %></h2>
					<p><%= I18n.t("technology.content.infiniti_connection.copy") %> </p>
					<p>
						<span class="continue next_chapter"><%= I18n.t("misc.continue") %></span>
						<span class="replay restart_chapter"><%= I18n.t("misc.replay") %></span>
					</p>
				</div>
			</div>
		</article>
		<article id="connection_calendar" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.infiniti_connection.calendar.heading") %></h2>
				</div>
			</div>
		</article>
		<article id="intouch_apps" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.infiniti_intouch.apps.heading") %></h2>
				</div>
			</div>
		</article>
		<article id="intouch_facebook" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.infiniti_intouch.facebook.heading") %></h2>
				</div>
			</div>
		</article>
		<article id="intouch_places" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.infiniti_intouch.places.heading") %></h2>
				</div>
			</div>
		</article>
		<article id="intouch_pinch_zoom" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.infiniti_intouch.pinch_zoom.heading") %></h2>
				</div>
			</div>
		</article>

		<article id="infiniti_intouch" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.infiniti_intouch.heading") %></h2>
					<p><%= I18n.t("technology.content.infiniti_intouch.copy") %>
					<%= link_to "[*]", "/" + I18n.t("locale") + "/disclaimers/disclaimers.html#infiniti_intouch", :class => "disclaimer_tooltip" %>
					</p>
					<p>
						<span class="continue next_chapter"><%= I18n.t("misc.continue") %></span>
						<span class="replay restart_chapter"><%= I18n.t("misc.replay") %></span>
					</p>
				</div>
			</div>
		</article>
		<article id="bose_audio" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.bose_audio.heading") %></h2>
					<p><%= I18n.t("technology.content.bose_audio.copy") %>
					<%= link_to "[*]", "/" + I18n.t("locale") + "/disclaimers/disclaimers.html#bose", :class => "disclaimer_tooltip" %>
					</p>
					<p>
						<span class="continue next_chapter"><%= I18n.t("misc.continue") %></span>
						<span class="replay restart_chapter"><%= I18n.t("misc.replay") %></span>
					</p>
				</div>
			</div>
		</article>
		<article id="bose_speakers" class="default-copy no-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.bose_audio.speakers") %></h2>
				</div>
			</div>
		</article>
		<article id="bci_overview" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.bci.heading") %> <%= link_to "[*]", "/" + I18n.t("locale") + "/disclaimers/disclaimers.html#bci", :class => "disclaimer_tooltip" %></h2>
					<p><%= I18n.t("technology.content.bci.copy") %></p>
					<p>
						<span class="continue next_chapter"><%= I18n.t("misc.continue") %></span>
						<span class="replay restart_chapter"><%= I18n.t("misc.replay") %></span>
					</p>
				</div>
			</div>
		</article>
		<article id="disclaimer_bci" class="video-disclaimer">
			<p><%= I18n.t("disclaimers.bci") %></p>
		</article>
		<article id="bci_super1" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.bci.super1") %></h2>
				</div>
			</div>
		</article>
		<article id="bci_super2" class="default-copy no-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.bci.super2") %></h2>
				</div>
			</div>
		</article>
		<article id="bci_super3" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.bci.super3") %></h2>
				</div>
			</div>
		</article>
		<article id="safety_shield_info" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("safetyshield.title") %></h2>
					<p><%= I18n.t("safetyshield.description") %></p>
				</div>
			</div>
		</article>
		<article id="avm" class="default-copy no-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.avm.heading") %> <%= link_to "[*]", "/" + I18n.t("locale") + "/disclaimers/disclaimers.html#avm", :class => "disclaimer_tooltip" %></h2>
					<p><%= I18n.t("technology.content.avm.copy") %></p>
					<p>
						<span class="replay restart_chapter"><%= I18n.t("misc.replay") %></span>
					</p>
				</div>
			</div>
		</article>
		<article id="disclaimer_avm" class="video-disclaimer">
			<p><%= I18n.t("disclaimers.avm") %></p>
		</article>
		<article id="avm_super1" class="default-copy no-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.avm.super1") %></h2>
				</div>
			</div>
		</article>
		<article id="avm_super2" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.avm.super2") %></h2>
				</div>
			</div>
		</article>
		<article id="avm_super3" class="default-copy dark-background">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.avm.super3") %></h2>
				</div>
			</div>
		</article>
		<article id="avm_super4" class="default-copy">
			<div class="top"></div><div class="bottom"></div>
			<div class="content">
				<div class="vertical-center">
					<h2><%= I18n.t("technology.content.avm.super4") %></h2>
				</div>
			</div>
		</article>
		<article id="safety-shield" class="safety-shield">
			<div class="default-copy">
				<div class="top"></div>
				<div class="bottom"></div>
				<div class="content">
					<div class="vertical-center">
						<h2><%= I18n.t("safetyshield.title") %></h2>
						<p><%= I18n.t("safetyshield.description") %></p>
						<p><span class="continue next_chapter"><%= I18n.t("misc.continue") %></span></p>
					</div>
				</div>
			</div>
			<div class="instructions"><%= I18n.t("safetyshield.instructions") %></div>
			<div class="loading">
				Loading please wait...
			</div>
			<div class="shield-hotspots">
				<a href="#" class="hotspot no-risk" data-ms="SafetyShield_1" data-modal="modals/shield-no-risk.html"><%= I18n.t("safetyshield.risks.no_risk.title") %></a>
				<a href="#" class="hotspot risk" data-ms="SafetyShield_2" data-modal="modals/shield-risk.html"><%= I18n.t("safetyshield.risks.risk.title") %></a>
				<a href="#" class="hotspot may-occur" data-ms="SafetyShield_3" data-modal="modals/shield-may-occur.html"><%= I18n.t("safetyshield.risks.may_occur.title") %></a>
				<a href="#" class="hotspot unavoidable" data-ms="SafetyShield_4" data-modal="modals/shield-unavoidable.html"><%= I18n.t("safetyshield.risks.unavoidable.title") %></a>
				<a href="#" class="hotspot collision" data-ms="SafetyShield_5" data-modal="modals/shield-collision.html"><%= I18n.t("safetyshield.risks.collision.title") %></a>
			</div>
			<div class="ss-image-bg"></div>
		</article>

		<%= partial "partials/video_controls" %>
	</section>
<% end %>

<% content_for :next_journey do %>
	<%= I18n.t("controls.next_journey") %> <em><%= I18n.t("nav.design.label") %></em>
<% end %>

<% content_for :pagescript do %>
	<script>
		// preload copy background assets
		NNA.PRELOAD.push(
			'<%= asset_path :images, "common/bg/copy.png" %>',
			'<%= asset_path :images, "common/bg/copy-light.png" %>',
			'<%= asset_path :images, "common/bg/copy-dark.png" %>',
			'<%= asset_path :images, "common/bg/continue-button.png" %>',
			'<%= asset_path :images, "common/icon/replay.png" %>'
		);

		// init page
		NNA.pageInit(function(){
			var videoData = <%= minify_inline_js partial "partials/video_data" %>;
			new NNA.PageControllers.VideoFeature(videoData, 'technology', {
				nextPage: videoData['design'].link,
				backgroundAudio: {
					track: '<%= asset_path :images, "technology/music/technology.mp3" %>'
				}
			});
		});
	</script>
<% end %>

<% content_for :addthis do %>
	addthis:url="<%= I18n.t("technology.page_canonical") %>" addthis:description="<%= I18n.t("technology.page_description") %>" addthis:title="<%= I18n.t("technology.page_title") %>"
<% end %>