<div class="pano_wrapper">
	<div class="pano"></div>
	<div class="welcome_screen">
		<h2><%= I18n.t("pano.welcome.title") %></h2>
		<p><%= I18n.t("pano.welcome.description") %></p>
		<span><%= I18n.t("pano.welcome.instruction") %></span>
		<a href="#" class="help"><%= I18n.t("pano.help") %></a>
	</div>
	<div class="help_screen">
		<p><%= I18n.t("pano.help_copy") %></p>
		<a href="#" class="help"><%= I18n.t("pano.help") %></a>
	</div>
</div>