---
layout: false
---
<div id="modal_all_features" data-ms-name="modal-allfeatures">
	<h2><%= I18n.t("features.heading") %></h2>
	<h3><%= I18n.t("nav.design.label") %></h3>
	<ul data-video-id="design" data-link="<%= asset_url I18n.t("nav.design.link") %>">
		<li><a href=""><div><img src="" width="111" height="51" alt="" /></div><span></span></a></li>
	</ul>
	<h3><%= I18n.t("nav.performance.label") %></h3>
	<ul data-video-id="performance" data-link="<%= asset_url I18n.t("nav.performance.link") %>">
	</ul>
	<h3><%= I18n.t("nav.technology.label") %></h3>
	<ul data-video-id="technology" data-link="<%= asset_url I18n.t("nav.technology.link") %>">
	</ul>
</div>