---
layout: false
---
<div id="modal-pano-instructions" class="wf">
		<h2><%= I18n.t("panorama.page_title") %></h2>
		<p><%= I18n.t("panorama.page_description") %></p>
	<ul>
		<li>
      <%= image_tag "gallery/panorama/computer.png", :width=>34, :height=>74, :alt=> I18n.t("panorama.computer.image_alt") %>
			<h3><%= I18n.t("panorama.computer.title") %></h3>
			<p><%= I18n.t("panorama.computer.description") %></p>
		</li>
		<li>
      <%= image_tag "gallery/panorama/gyro.png", :width=>113, :height=>74, :alt=> I18n.t("panorama.gyro.image_alt") %>
			<h3><%= I18n.t("panorama.gyro.title") %></h3>
			<p><%= I18n.t("panorama.gyro.description") %></p>
		</li>
		<li>
      <%= image_tag "gallery/panorama/touch.png", :width=>86, :height=>74, :alt=> I18n.t("panorama.touch.image_alt") %>
			<h3><%= I18n.t("panorama.touch.title") %></h3>
			<p><%= I18n.t("panorama.touch.description") %></p>
		</li>
	</ul>
</div>