---
layout: false
---
<div id="modal-no-risk-content" class="wf">
	<h2><%= I18n.t("safetyshield.risks.no_risk.title") %> <span><%= I18n.t("safetyshield.risks.no_risk.sub_title") %></span></h2>
	<div class="left">
		<h3><%= I18n.t("safetyshield.risks.no_risk.cruise_title") %> <%= link_to "[*]", "/" + I18n.t("locale") + "/disclaimers/disclaimers.html",:anchor=>"intelligent_cruise", :class => "disclaimer_tooltip" %></h3>
		<p><%= I18n.t("safetyshield.risks.no_risk.cruise_description") %></p>
		<h3><%= I18n.t("safetyshield.risks.no_risk.distance_title") %> <%= link_to "[*]", "/" + I18n.t("locale") + "/disclaimers/disclaimers.html", :anchor=>"distance_control", :class => "disclaimer_tooltip" %></h3>
		<p><%= I18n.t("safetyshield.risks.no_risk.distance_description") %></p>
	</div>
	<div class="right">
		<h3><%= I18n.t("safetyshield.risks.no_risk.monitor_title") %> <%= link_to "[*]", "/" + I18n.t("locale") + "/disclaimers/disclaimers.html", :anchor=>"around_view", :class => "disclaimer_tooltip" %></h3>
		<p><%= I18n.t("safetyshield.risks.no_risk.monitor_description") %></p>
	</div>
</div>